---
import BaseLayout from "../layouts/BaseLayout.astro";
import ProductCard from "../components/ProductCard.astro";
---

<BaseLayout>
    <section id="página de productos">
        <h1>Todos nuestros productos</h1>
        <div class="product-list">
            <ProductCard 
                imgSrc="/Images/PORTADA_MINNIE-02.png"
                title="Cuaderno1"
                description="Agenda de Personalizada con colores a tu gusto."
                inputId="cantidad1"
            />
            <ProductCard 
                imgSrc="/Images/PORTADA_MINNIE-02.png"
                title="Cuaderno2"
                description="Agenda con tu héroe favorito"
                inputId="cantidad2"
            />
        </div>
    </section>
</BaseLayout>