<header>
    <div class="social-bar">
        <a href="https://facebook.com" target="_blank" aria-label="Facebook">
            <i class="fa-brands fa-facebook-f"></i>
        </a>
        <a href="https://instagram.com" target="_blank" aria-label="Instagram">
            <i class="fa-brands fa-instagram"></i>
        </a>
        <a href="https://wa.me/3115416945" target="_blank" aria-label="WhatsApp">
            <i class="fa-brands fa-whatsapp"></i>
        </a>
    </div>
    
    <h1>LVJ Agendas</h1>

    <div class="search-bar">
        <input type="text" id="searchInput" placeholder="Buscar productos...">
        <button type="button" id="searchButton">
            <i class="fa-solid fa-magnifying-glass"></i>
        </button>
    </div>
    
    <nav>
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="#acerca">Acerca de</a></li>
            <li class="submenu-container">
                <a href="#">Productos</a>
                <ul class="submenu">
                    <li><a href="/agendas">Agendas</a></li>
                    <li><a href="/cuadernos">Cuadernos</a></li>
                    <li><a href="/calendarios">Calendarios</a></li>
                    <li><a href="/esferos">Esferos</a></li>
                    <li><a href="/libreta">Libretas</a></li>
                </ul>
            </li>
            <li><a href="/contactanos">Contáctanos</a></li>
        </ul>
    </nav>
</header>