<header>
    <div class="social-bar">
        <a href="https://facebook.com" target="_blank" aria-label="Facebook">
            <i class="fab fa-facebook-f"></i>
        </a>
        <a href="https://instagram.com" target="_blank" aria-label="Instagram">
            <i class="fab fa-instagram"></i>
        </a>
        <a href="https://wa.me/3115416945" target="_blank" aria-label="WhatsApp">
            <i class="fab fa-whatsapp"></i>
        </a>
    </div>
    <h1>LVJ Agendas</h1>
    <nav>
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="#acerca">Acerca de</a></li>
            <li class="submenu-container">
                <a href="#productos">Productos</a>
                <ul class="submenu">
                    <li><a href="/productos/agendas">Agendas</a></li>
                    <li><a href="/productos/calendarios">Calendarios</a></li>
                    <li><a href="/productos/tacos de notas">Tacos de Notas</a></li>
                    <li><a href="/productos/promocionales">Promocionales</a></li>
                </ul>
            </li>
            <li><a href="/contactanos">Contáctanos</a></li>
        </ul>
    </nav>
</header>